/* ======================================================= */
/* ==================== Media Queries ==================== */
/* ======================================================= */

/* ====== max-width 980px ====== */

@media (max-width: 980px) {
	/* navbar style */

	.navbar {
		max-width: 100%;
		margin-right: 75px;
		margin-left: 75px;
	}
	.nav-menu ul li {
		left: -150px;	
	}	

	/* wrapper */

	.wrapper {
		width: 800px;
		margin-left: 3.625rem;		
	}
	
	/* main content style */

	.about, .contact-form, .portfolio {
		border: 0.0625rem solid #ddd;
		width: 31.25rem/*100%*//*40.5rem*/;
		margin-top: 1.875rem;
		margin-bottom: 1.125rem;
		background-color: #fff;	
		float: left;	
	}
	
	.about img {		
		width: 28.125rem;
		height: 31.25rem;
		margin: 1.25rem;
	}

	.about p {
		font-size: 1rem;		
	}

	/* aside content style */

	.contact {
		margin-top: 1.875rem;		
		width: 15.625rem;		
	}

	.contact h2 {	
		font-size: 1.325rem;
	}

	/* contact form */

	.form-input input, .form-input textarea {
		width: 28.125rem;
	}

	/* portfolio */

	.project {
		width: 28.125rem;
		height: 28.125rem;
	}

	.project img {
		height: 28.125rem;
		width: 28.125rem;
	}

	.project-title {
		width: 25.625rem;
	}
}

/* ====== max-width 768px ====== */

@media (max-width: 768px) {

	/* navbar style */

	.navbar {
		max-width: 100%;
		margin-right: 20px;
		margin-left: 20px;
	}
	
	.nav-menu ul li {
		left: -50px;
	}

	/* wrapper */

	.wrapper {
		width: 600px;
	}	

	/* main content style */

	.about, .contact-form, .portfolio {
		width: 37.5rem;
		margin-top: 1.875rem;
		margin-bottom: 1.125rem;
		
	}
	
	.about img {		
		width: 23.475rem;
		height: 28.125rem;
		margin: 1.25rem;
	}

	.about p {
		font-size: 1rem;		
	}

	/* aside content style */

	.contact {
		margin-top: 1rem;
		margin-bottom: 2.125rem;		
		width: 37.5rem;		
	}

	.contact h2 {	
		text-align: left;
		font-size: 1.5rem;		
	}

	.form-input input, .form-input textarea {
		width: 28.125rem;	
	}

	/* portfolio */

	.project {	
		width: 28.125rem;
		height: 28.125rem;
	}

	.project img {
		height: 28.125rem;
		width: 28.125rem;
	}

	.project-title {	
		width: 25.625rem;
	}

}

/* ====== max-width 640px ====== */

@media (max-width: 640px ) {
	.navbar{
		max-width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.navbar-wrapper {
		width: 100%;
		height: 9.5em;		
	}

	.logo {
		width: 37.0625rem;		
	}	

	.nav-menu ul li {
		font-weight: 600;
		top: 1.25rem;
		padding: .3125rem 3.125rem;
		margin-left: 3.125rem;
		

	}

	.nav-menu ul li:nth-child(2) {
		border: none;
		padding-left: 1.875rem;
		padding-right: 1.875rem;
		margin-left: 1.875rem;
		margin-right: 0;
	}

	/* wrapper */

	.wrapper {
		width: 500px;
		margin-left: 3.625rem;		
	}
	
	/* main content style */

	.about, .contact-form, .portfolio {
		width: 31.25rem;
		margin-top: 1.875rem;
		margin-bottom: 1.125rem;			
	}

	.about img {
		width: 9.375rem;
		height: 12.1875rem;
		margin: 1.25rem;
	}

	.about p {
		font-size: 1rem;
	}

	/* aside content style */

	.contact {
		margin-top: 1rem;
		margin-bottom: 2.125rem;
		width: 31.25rem;		
	}

	.contact h2 {	
		text-align: left;		
	}	

	/* contact form */

	.form-input input, .form-input textarea {
		width: 28.125rem;
	}

	/* portfolio */

	.project {
		width: 28.125rem;
		height: 28.125rem;
	}

	.project img {
		height: 28.125rem;
		width: 28.125rem;
	}



	.project-title {
		width: 25.625rem;		
	}
}